body {
    background-color: #6e3cbc;
}

.introdiv-row {
        width: auto;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
        text-align: left;    
}

.sakura-miyawaki-img {
        float: left;
        width: 25%;
        height: 25%;
        padding-right: 10px;
}

.introp {
        text-align: left;
}

h1   {
    color: #66BFBF;
    padding-bottom: 10px;
    text-align: left;
}

h3   {
    color: #66BFBF;
}
 
hr   {
    border-style: none;
    border-top-style: dotted;
    border-color: #grey;
    border-width: 5px;
    width: 5%;
}
